.containerSacola {
  grid-area: sacola;
  height: 100%;
  width: 100%;
  font-family: "Manrope", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

aside {
  width: max-content;
  position: fixed;
  top: 128px;
  background-color: rgba(0, 0, 0, 0.2);
}

aside header {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 14px 0;
  background-color: #a785ed;
}

aside main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 20px;
}

aside main h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #fdfdfd;
  padding: 0 16px;
  margin-top: 20px;
}

aside main p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fdfdfd;
  opacity: 0.8;
}

aside footer {
  box-sizing: border-box;
  margin: 0 16px 24px 16px;
}

aside footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #fdfdfd;
  text-align: left;
}

aside footer .divInputCupom {
  background-color: #0b1217;
  position: relative;
  display: flex;
  align-items: center;
}

aside footer .divInputCupom input {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  opacity: 0.4;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
}

aside footer .divInputCupom input:hover {
  border: 1px solid #8c8c8c;
}

aside footer .divInputCupom input:focus {
  outline: none;
  border: 1px solid #fdfdfd;
}

aside footer .divInputCupom img {
  position: absolute;
  right: 16px;
}

aside footer button {
  box-sizing: content-box;
  all: unset;
  cursor: pointer;
  width: calc(100% - 40px);
  padding: 16px;
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  background-color: rgba(226, 94, 191);
  color: #fdfdfd;
  margin-top: 24px;
}
