@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

.cupom {
  position: relative;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
  height: 119px;
  width: 100%;
  background-image: url("./bg-promotion.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 51px 16px 24px;
  grid-area: cupom;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 40px;
}

.tituloCupom {
  display: flex;
  flex-direction: column;
}

.tituloCupom > h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 150%;
  text-transform: uppercase;
  color: #0f0915;
  opacity: 0.8;
}

.codigoCupom {
  display: flex;
  align-items: center;
  gap: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #0f0915;
  opacity: 0.8;
  font-family: "Quantico", sans-serif;
}

.codigoCupom img,
.contadorCupom img {
  height: 32px;
  width: 32px;
}

.contadorCupom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.contadorCupom > h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #0f0915;
  opacity: 0.8;
}

.contador {
  display: flex;
  align-items: center;
  gap: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #0f0915;
  opacity: 0.8;
}

.dinheiro {
  position: relative;
  right: -51px;
  bottom: 16px;
  justify-self: flex-end;
}
