.topFilmes {
  grid-area: top;
  margin-top: 40px;
}

.topFilmes h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #fdfdfd;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  text-align: left;
}

.topCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
