* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #1d2226;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 30px 3fr 30px 1fr 30px;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    "header header header header header"
    ". cupom . sacola ."
    ". top . sacola ."
    ". filmes . sacola .";
}
