.divProduto {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
}

.campoEsquerdo img {
  width: 43px;
  height: 67px;
  object-fit: fill;
}

.campoEsquerdo {
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.textoProduto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
}

.textoProduto p {
  text-align: left;
}

.campoDireito {
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
}

.campoDireito img {
  cursor: pointer;
}
